.compProH2 {
  color: #6d28d9;
  font-size: 2rem;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 80%;
  padding: 0.75rem;
  margin: 12px 0;
  border-radius: 25px;
  font-size: 1.2rem;
  outline: none;
}

input[type="file"] {
  padding: 0.75rem;
  margin: 12px 0;
  font-size: 1rem;
  outline: none;
}

.subit {
  width: 80%;
  padding: 0.75rem;
  margin: 12px 0;
  border-radius: 25px;
  font-size: 1.2rem;
  outline: none;
}

input {
  border: 1px solid #e2e8f0;
  background: #f3f3f3;
  text-align: left;
}

input:focus {
  border-color: #6d28d9;
  box-shadow: 0 0 0 3px rgba(109, 40, 217, 0.1);
}

.file-upload {
  width: 83%;
  border: none;
  background: transparent;
}

label {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

.subit {
  background-color: #6d28d9;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.subit:hover {
  background-color: #5a1fb9;
}

@media (max-width: 768px) {
  input,
  button {
    width: 90%;
  }
}
