/*Login Page*/
.login-body {
  font-family: Arial, sans-serif;
  background: var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  display: flex;
  max-width: 800px;
  width: 90%;
  background: var(--light-gray);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left {
  width: 50%;
  padding: 2rem;
  text-align: center;
}

.left h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.left input {
  color: var(--text-color);
  background-color: var(--bg-light);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
}

.left button {
  width: 100%;
  padding: 10px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.left button:hover {
  background: var(--secondary-color);
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.right {
  width: 50%;
  background: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.right h2 {
  font-size: 1.8rem;
}

.right p {
  font-size: 1rem;
  margin-top: 10px;
}
/* Alert messages */
.alert {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.alert-error {
  background-color: var(--error-bg);
  color: var(--error-text);
  border: 1px solid var(--error-border);
}

.alert .msg {
  margin: 5px 0;
}

/* Role dropdown */
select#role {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 0.1px solid var(--bg-dark);
  background-color: var(--bg-light);
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    text-align: center;
  }

  .left,
  .right {
    width: 100%;
    padding: 1.5rem;
  }

  .right {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .left h2,
  .right h2 {
    font-size: 1.5rem;
  }

  .left input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .left button {
    font-size: 0.9rem;
    padding: 8px;
  }

  .right p {
    font-size: 0.9rem;
  }
}

input:focus,
select#role:focus {
  outline: none;
  border-color: var(--primary-color);
}
